{:lint-as {pronto.core/defproto clojure.core/def
           pronto.runtime/p->   clojure.core/->
           pronto.core/p->      clojure.core/->
           pronto.core/pcond->  clojure.core/cond->}
 :output  {:exclude-files ["emitters.clj" "potemkin_types.clj"]}}
