{:lint-as {pronto.core/defmapper clojure.core/def
           pronto.lens/p->      clojure.core/->
           pronto.core/p->      clojure.core/->
           pronto.core/pcond->  clojure.core/cond->}
 :output  {:exclude-files ["emitters.clj"]}}
